*{
    font-family: arial;
}
body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

 nav .active a{
    background-color:#39AAE1;
    color: white ;
 }

 nav a:hover{
    background-color:#39AAE1;
    color: white;
 }

 #banner{
    display: flex;
    justify-content: center;
    background-image:url(../images/slider_01.jpg);
    background-position: center;
    background-size: cover;
    height: 670px; 
 }

 .column{
    flex-direction: column;
 }

 .banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }


 .banner_headline h1{
    font-size: 70px;
    color: white;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
 }

 .banner_headline h2{
    font-size: 22px;
    color: white;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
 }

 .banner_options{
    height: 210px;
    display: flex;
 }

 .banner1, .banner2 , .banner3{
    flex:1;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color:#2b4c99;
}

.banner_title{
    font-size: 21px;
    color: white;
}

.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.banner_options a{
    display: inline-block;
    border: 1px  solid #ffffff;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.banner_hours{
    display: flex;
    flex-direction: column;
}

.hours{
    margin-top: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px ;
    flex: 1;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}


.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color:#000000;
    font-size:21px;
    font-weight:bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;

}


article .news_data{
    display: flex;

}

article .news_posted_at{
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right:2px;
}

article .news_comments{
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;

}
article .news_thumb{
    margin-top: 30px;
}
article .news_thumb img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color:#000000;
}

article .news_resume{
    color: #5c5c5c;
    line-height: 19px;
    font-size: 14px;
    margin-bottom: 30px;


}

article a{
    text-decoration: none;   
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.flex{
    display:flex;
    flex-wrap: wrap;
}

.flexcolumn{
    flex-direction: column;
}

footer{
    background-color:#000000;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
    flex: 1;
}

.fm_1,.fm_2,.fm_3{
    flex: 1;
    color: #FFFFFF;

}

.fm_1{
background-color: #39aae1;
}

.fm_2{
    background-color: #0079c7;
}

.fm_3{
    background-color: #2b4c99;
}



.footer_area{
    display: flex;

}

.footer_areaitem{
    flex: 1;
    color:#FFFFFF;
    margin:0px 15px 0px 15px;
}

footer .widget_title_text{
    color: white;
}


.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5C5C5C;
    font-size:12px; 
    margin-top: 30px;
}

.footer_menu a{
    display: block;
    padding:20px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer_menu a h1{
    font-size:20px;
}

.area_mc, .area_mc2{
    font-size: 12px;
    color: #727272;
}
.area_mc2{
    display: flex;
    justify-content: space-between;
}

.area_adress{
    flex: 1;
}

.area_tel{
    flex: 1;
    margin-left:10px;
}

.area_tel .mail{
    color: white;
}

.latest_posts a{
    text-decoration: none;
    display: block; 
    font-size: 12px;
    margin-top: 20px;
}

.latest_posts a p{
    color: white;

}

.latest_posts a p.datepost,.last_tw p.datepost{
    color: rgb(75, 174, 255);
}

.last_tw .post1 {
    color: #727272;
    text-decoration: none;
    font-size: 12px;
}

.telegram{
    color: #FFFFFF;
    text-decoration: none;
}

.last_tw .post1 a{
    text-decoration: none;
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    
}

.mm_line{
    height: 3px;
    background-color: #39aae1;

}

@media (max-width:600px){
    .banner_headline h1{
        font-size: 55px;
    }
    .banner_headline h2{
        font-size: 17px;
    }
    
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .banner_headline{
        padding:20px;
    }

    .banner1, .banner2, .banner3{
        padding: 10px;
    }

    .container{
        flex-direction: column;
    }

    .footer_menu{
        flex-direction: column;
    }

    .footer_area{
        flex-direction: column;
    }

    .footer_copy{
        padding-left: 10px;
    }

    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        left: 0px;
        position: absolute;
        width: 100%;
        background-color: #FFFFFF;
        
    }

    header{
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

#geral section{
    padding: 5px;
}

#geral aside{
    padding: 5px;
}
